# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
.cache/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
coverage.xml
TMP/

src/xtgeoapp/convgrdfmt/_theversion.py

# other
.idea/
.projectile
